h3 {
  font-size: 15pt;
  padding: 20pt;
  padding-top: 50pt;
  margin-left: 40pt;
}

p {
  padding-left: 60pt;
}

@media (max-width: 992px) { 
  p, h3 {
    padding-left: 30pt;
    margin-left: 0pt;
    padding-right: 30pt;
  }
}