* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-areas: 
  "banner  banner    banner  banner"
  "best   featured   care     we"
  "F        F        H         H"
  "F        F        H         H"
  "footer   footer    footer    footer";
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.banner {
  grid-area: banner;
  background-image: url("./hairPics/hair-banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30pt;
  border: 2pt solid #60B3BD;
  border-radius: 4px;
  margin-top: 45pt;
}

.hidden {
  visibility: hidden;
}

.pics {
  width: 100%;
  border: 4pt solid #60B3BD;
  border-radius: 4px;
  margin-bottom: 15pt;
  box-shadow: 0px 5px 5px black;
  object-fit: contain;
}

h3 {
  font-size: 15pt;
  padding-top: 10pt;
  padding-bottom: 5pt;
}

span {
  font-size: 10pt;
  color: #464646;
  line-height: 1.8;
}

.best {
  grid-area: best;
  margin-left: 60pt;
  margin-right: 10pt;
}

.featured {
  grid-area: featured;
  margin-right: 10pt;
  margin-left: 10pt;
}

.care {
  grid-area: care;
  margin-right: 10pt;
  margin-left: 10pt;
}

.we {
  grid-area: we;
  margin-right: 60pt;
  margin-left: 10pt;
}

.F {
  grid-area: F;
  margin: 20pt;
  background-color: white;
  border: 3pt solid #60B3BD;
  border-radius: 4px;
  padding: 20pt;
  position: relative;
  margin-top: 60pt;
  margin-left: 60pt;
}

.F img {
  height: 100px;
  object-fit: cover;
  width: 100px;
  object-position: top;
  border-radius: 7px;
  margin-bottom: 10pt;
  margin-top: 10pt;
}

.F label, .blue label{
  background-color: #1D2238;
  color: white;
  position: absolute;
  padding: 5pt;
  font-size: 15pt;
  top: -10;
  z-index: 1;
}

.F h3 {
  padding-left: 20pt;
}

.flex {
  display: flex;
  padding: 10pt;
}

.H {
  grid-area: H;
  margin-top: 40pt;
}

.blue {
  background-color: #509194;
  padding: 20pt;
  color: white;
  margin-top: 20pt;
  border: 3pt solid #60B3BD;
  border-radius: 4px;
  position: relative;
  margin-right: 60pt;
}

#top p {
  padding-top: 20pt;
}

#bottom {
  display: flex;
}

#bottom p {
  padding-top: 20pt;
}

@media (max-width: 992px) { 
  .grid {
    grid-template-areas: 
    "banner  banner"
    "best   featured"
    "care     we"
    "F        F"
    "H        H"
    "footer   footer";
  }

  .banner {
    margin: 20pt;
  }

  .best, .featured, .care, .we {
    margin-left: 20pt;
    margin-right: 20pt;
    margin-bottom: 20pt;
  }

  .best, .care {
    margin-right: 10pt;
  }

  .featured, .we {
    margin-left: 10pt;
  }

  .pics {
    height: auto;
  }

  .care, .we {
    margin-top: 30pt;
  }

  .F, .H {
    margin: 20pt;
  }

  .blue {
    margin: 5pt;
  }

  #bottom img {
    height: 40%;
    width: 40%;
  }

  #bottom p {
    padding-top: 0pt;
  }

}
